body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


.mx-3 {
    align-items: center;
    display: flex;
}

.card-body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.card-body::-webkit-scrollbar-track {
    background: #e0e0e0;
}

.card-body::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
}

.card-body::-webkit-scrollbar-thumb:hover {
    background-color: #757575;
}


.modal-dialog {
    max-width: 300px;
    width: 100%;

}

.modal-header {
    text-align: center;
    border-bottom: none;
}

.modal-title {
    margin: 0 auto;
}

.image-upload {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    position: relative;
}

.image-text {
    font-size: 14px;
    color: #777;
    text-align: center;
}

.image-upload input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.modal-body label {
    font-weight: bold;
}

.btn-primary {
    background-color: #28a745;
    border: none;
}

.btn-secondary {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #ced4da;
}

.form-control {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    align-items: center;
    /* Giúp căn giữa các phần tử theo chiều dọc */
    margin-bottom: 10px;
    /* Khoảng cách giữa các hàng */
}

.form-row label {
    flex: 1;
    /* Chiếm không gian cần thiết cho label */
    margin-right: 10px;
    /* Khoảng cách giữa label và input */
    text-align: right;
    /* Căn phải cho label */
}

.form-control {
    flex: 2;
    /* Chiếm không gian cần thiết cho input */
}

@media (max-width: 1200px) {
    .sidebar {
        width: 200px;
    }

    .search-bar {
        width: 300px;
    }

    .table {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .sidebar {
        width: 180px;
    }

    .search-bar {
        width: 250px;
    }

    .table th,
    .table td {
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .menu-item {
        font-size: 0.9rem;
    }

    .header {
        display: block;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    .table {
        width: 100%;
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    .sidebar {
        display: none;
    }

    .search-bar {
        width: 100%;
    }

    .card {
        margin: 10px 0;
    }

    .table th,
    .table td {
        padding: 5px;
    }

    .modal-dialog {
        max-width: 95%;
    }
}


