/* có thể trùng */
.nav-link {
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sidebar li a {
    padding: 15px 19px;
}
.sidebar li a:hover {
    color: #1DBD3A;
    background-color: #ddd;
}

.sidebar a , .content a{
    text-decoration: none;
    position: relative;
}

.sidebar a::after, .content a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #28a745;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.sidebar a:hover::after,
.sidebar a:focus::after,
.content a:focus::after,
.content a:hover::after{
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.sidebar a::after, .content a::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

.sidebar a:hover::after,
.sidebar a:focus::after,
.content a:hover::after,
.content a:focus::after{
    transform: scale(1);
}

.nav-pills a.nav-link {
    color: grey;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black;
    background-color: #b3f3a9;
    border-radius: 0px;
    border-left: 3px solid #1DBD3A;
}

.input:focus-within {
    border: 1px solid #1DBD3A;
    box-shadow: 0 0 5px #1DBD3A;
}

.input {
    height: 50px;
}
.input1:focus-within {
    border: 1px solid #1DBD3A;
    box-shadow: 0 0 5px #1DBD3A;
}

.input1 {
    height: 50px;
}
/* ảnh user */
.user-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
}

.panel {
    margin: 20px auto 40px;
    max-width: 500px;
    text-align: center;
}

.button_outer {
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
    border: 3px solid #1DBD3A;
}

.btn_upload {
    padding: 10px 30px 12px;
    color: #1DBD3A;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}

.file_uploading .btn_upload {
    display: none;
}

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #83ccd3;
    transition: 3s;
}

.file_uploading .processing_bar {
    width: 100%;
}

.success_box {
    display: none;
    width: 100px;
    height: 50px;
    position: relative;
}

.success_box:before {
    content: '';
    display: block;
    width: 12px;
    height: 20px;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    left: 17px;
    top: 10px;
}

.file_uploaded .success_box {
    display: inline-block;
}

.file_uploaded {
    margin-top: 0;
    width: 50px;
    background: #83ccd3;
    height: 50px;
}

.user-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc;
}

/* nút lưu */

.save-btn {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: #40a040;
}

.save-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px blue;
}
.save-btn:disabled {
    background-color: #cccccc; /* Gray background */
    color: #666666; /* Gray text */
    cursor: not-allowed; /* Cursor indicates disabled state */
    opacity: 0.6; /* Optional: Make it semi-transparent */
}

.field-icon {
    position: absolute;
    right: 10px;
    top: 17px;
    color: grey;
    font-size: 20px;
}

/* Hidden sidebar in mobile view by default */
.sidebar {
    position: fixed;
    left: -250px;
    /* Hide sidebar outside of the viewport */
    top: 100px;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    transition: left 0.3s ease;
    z-index: 90;
}

.mobile-view {
    display: none;
}

/* Show the sidebar when toggled */
.sidebar.show {
    left: 0;
}

.mobile-header {
    display: none;
    margin-left: 85%;
    /*margin-top: -60px;*/
    position: sticky;
    top: 105px;
    z-index: 99;
}
.error_msg{
    text-align: center;
    color: red;
}
/*btn go to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 30px;
    width: 3%;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
@media (min-width: 768px) {
    .sidebar {
        position: sticky;
        left: 0;
        top: 100px;
        height: auto;
        width: 100%;
        transition: none;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .mobile-content{
        padding-top: 130px;
    }
}

@media screen and (max-width: 768px) {
    .mobile-view {
        display: block;
    }

    .desktop-view {
        display: none;
    }

    .save-btn {
        width: 100%;
    }

    .sidebar-mobile {
        display: none;
    }

    .sidebar-mobile.show {
        display: flex;
    }

    .mobile-header {
        display: flex;
    }
    .mobile-content {
        padding-top: 50px;
    }
}