a {
    text-decoration: none;
    color: unset;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table tr {
    /* border-bottom: 2px solid black; */
    border-bottom: 1px solid #ddd;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
}
.table-container::-webkit-scrollbar {
    width: 8px;                     /* Độ rộng của scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888;         /* Màu của thanh cuộn */
    border-radius: 10px;            /* Bo góc của thanh cuộn */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;         /* Màu khi hover vào thanh cuộn */
}

thead {
    position: sticky;
    top: -1px;
}

.table-header th {
    color: gray;
    font-weight: 600;
    text-transform: uppercase;
}

.product-name a {
    text-decoration: none;
}

.first-column {
    width: 38%;
}

.second-column {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.qty-container {
    display: flex;
    justify-content: center;
    border: 1px solid #d4d4d4;
    border-radius: 50px;
    padding: 5px 0;
    width: 75%;
}

.qty-container .input-qty {
    text-align: center;
    padding: 6px auto 6px 10px;
    width: 100%;
    border: none;
}

.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 3px 13px;
    font-size: 20px;
    height: 37px;
    width: 38px;
    transition: 0.3s;
}

.qty-btn-plus {
    border-radius: 50%;
}

.qty-btn-minus {
    border-radius: 50%;
}

/* chỉnh sửa khoảng cách của phần tử td trong table */
.product td:nth-child(2),
.product td:nth-child(4) {
    padding-top: 27px;
}

.product td:nth-child(3) {
    padding-top: 15px;
}

.product td:nth-child(5) {
    padding-top: 20px;
}

.action-icon i {
    color: red;
    padding: 10px;
}

.action-icon i:hover {
    background-color: #ddd;
    border-radius: 50%;
}

.process-pay-btn {
    background-color: rgb(54, 157, 54);
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.process-pay-btn:hover {
    border: 1px solid rgb(54, 157, 54);
    background-color: #fff;
}

.coupon {
    border: 1px solid #ddd;
    padding: 20px 20px;
    border-radius: 10px;
}

.apply-btn {
    position: absolute;
    border-radius: 50px;
    padding: 10px 20px;
    top: 0;
    right: 12px;
}

@media screen and (max-width: 768px) {
    .qty-container {
        display: flex;
        justify-content: center;
        border: 1px solid #d4d4d4;
        border-radius: 50px;
        padding: 5px 10px;
        width: 100%;
    }

    .qty-container .qty-btn-minus,
    .qty-container .qty-btn-plus {
        border: 1px solid #d4d4d4;
        padding: 10px 13px;
        font-size: 10px;
        height: 37px;
        width: 38px;
        transition: 0.3s;
    }
    .qty-container .input-qty {
        width: 60px;
    }
    .apply-btn {
        position: absolute;
        border-radius: 50px;
        padding: 10px 10px;
        top: 0;
        right: 12px;
    }
}
.text--wrap{
    white-space: nowrap;
    /* Không cho phép xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung tràn   */
    text-overflow: ellipsis;
}